/* CSS declarations go here */
#main {
    width: 130px;
    height: 40px;
    /*border: 1px solid black;*/
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
    overflow:hidden;
}

#Title{
	font-size: xx-large;
	text-align: left;
}

p{
	padding-top: 0px; 
	padding-bottom:0px; 
}

